<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <description>webadmin</description>
  <servlet>
    <servlet-name>rest</servlet-name>
    <servlet-class>de.willuhn.jameica.webadmin.servlets.RestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>restdoc</servlet-name>
    <jsp-file>/restdoc.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>rest</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>restdoc</servlet-name>
    <url-pattern>/rest</url-pattern>
  </servlet-mapping>

</web-app>
