<script type="text/javascript">
  function doUpload()
  {
    if (!document.form_upload.elements.filename.value)
      return;
    document.form_upload.submit();
  }
</script>

<h2>Installierte Zertifikate</h2>
<table class="data">
  <tr>
    <th>Ausgestellt für</th>
    <th>Ausgestellt von</th>
    <th>Gültigkeit</th>
  </tr>
  #set($list = $certificate.list)
  #if($list.length() > 0)
    #set($size = $list.length() - 1)
    #foreach($i in [0..$size])
      #set($line = $list.get($i))
      <tr onmouseover="change_to(this);" onmouseout="change_back(this);">
        <td><a title="Klicken für Details" href="cert.html?cert=$line.cert.sha1">$line.subject.CN</a></td>
        <td>$line.issuer.CN</td>
        <td>$line.valid.from - $line.valid.to</td>
      </tr>
    #end
  #end
  <tr>
    <td colspan="3" class="footer">
      <form method="post" action="cert.html" name="form_upload" enctype="multipart/form-data" style="margin:0px">
        neues Zertifikat importieren
        <input type="hidden" name="action" value="upload">
        <input type="file" name="filename" onchange="javascript:doUpload()" />
      </form>
    </td>
  </tr>
</table>
