<div id="breadcrumbs">
  <a href="/">Index</a>
</div>

<table>
  <tr>
    <td style="border-right:1px dotted #909090;padding-right: 20px;width:650px">
      #parse("status.vm")
      #parse("plugins.vm")
    </td>
    <td style="padding-left: 20px;width:300px">
      #parse("messages.vm")
    </td>
  </tr>
</table>

<div style="margin-top:20px">
  #parse("log.vm")
</div>
