<style>
  #main {
    width                    : 650px;
    border-right             : 1px dotted #909090;
    padding-right            : 20px;
  }
  #content {
    width                    : 960px;
  }
</style>

<div id="content">

  <div id="main">
    #parse("status.vm")
    #parse("messages.vm")
  </div>
  
  #parse("log.vm")

</div>
