<style>
    /* Log-Levels einfaerben */
    table.data tr.DEBUG td {
      color                    : #46824A;
    }
    table.data tr.INFO td {
      color                    : #46824A;
    }
    table.data tr.WARN td {
      color                    : #5770B2;
    }
    table.data tr.ERR td {
      color                    : #6E1416;
      background               : #FFAC95;
    }
</style>

<h2>System-Log</h2>
<div id="log" style="width:990px;height:160px;overflow:auto; overflow-y:auto;overflow-x:hidden">
  <table class="data" style="margin:0px;padding:0px;">
    <tr>
      <th>Datum</th>
      <th>Quelle</th>
      <th>Text</th>
    </tr>
    #foreach($message in $log)
      #set($level = $message.Level)
      #set($source = $!{message.LoggingClass})
      #set($pos = $source.lastIndexOf(".") + 1)
      #set($source = $source.substring($pos))
      <tr class="$!{level.Name}">
        <td style="white-space:nowrap;">$!{dateformat.format(${message.Date})}</td>
        <td>$source.$!{message.LoggingMethod}()</td>
        <td>$!{message.Text}</td>
      </tr>
    #end
  </table>
</div>

<script type="text/javascript">
  document.getElementById("log").scrollBy(0,100000);
</script>
