<style>
  #messages {
    position                 : absolute;
    width                    : 300px;
    left                     : 700px;
    top                      : 30px;
    align                    : right;
  }
</style>    

<div id="messages">
  <h2>System-Nachrichten</h2>
  <table class="data">
    #foreach($message in $messages)
      <tr>
        <td>$!{message}</td>
      </tr>
    #end
  </table>
</div>
