<h2>System-Nachrichten</h2>

<table class="data">
  #set($found = "false")
  #foreach($message in $messages)
    #set($found = "true")
    <tr>
      <td>$!{message}</td>
    </tr>
  #end
  #if($found == "false")
    <tr><td>Keine System-Nachrichten</td></tr>
  #else
  #end
</table>
