<h2>Installierte Plugins</h2>
<table class="data">
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Beschreibung</th>
  </tr>
  #foreach($plugin in $plugins)
    <tr>
      <td><a title="Klicken für Details" href="/plugin?plugin=$!{plugin.Name}">$!{plugin.Name}</a></td>
      <td>$!{plugin.Version} [Build $!{plugin.Buildnumber}]</td>
      <td>$!{plugin.Description}</td>
    </tr>
  #end
</table>
