<h2>System-Status</h2>
<table class="data">
  <tr>
    <td>Version</td>
    <td>$!{manifest.Version} $!{manifest.Buildnumber}</td>
  </tr>
  <tr>
    <td>Uptime</td>
    <td>$!{uptime}</td>
  </tr>
  <tr>
    <td>Benutzer-Verzeichnis</td>
    <td>$!{config.WorkDir}</td>
  </tr>
</table>
