<html>
  <head>
    <title>Jameica $!{manifest.Version} $!{manifest.Buildnumber}</title>
    <meta http-equiv="Content-Type"  content="text/html; charset=iso-8859-15">
    <link rel="stylesheet" type="text/css" href="/res?css/styles.css">
  </head>
  
  <style>
  </style>    
  
  <body>
    <div style="width:990px;">
      <h1>Jameica - Administration</h1>
      #parse(${contentfile})
    </div>
  </body>
  
</html>